/* maled palettes */

* {
  box-sizing: border-box;
  font-family: raleway;
  margin: 0;
}
.row {
  display: flex;
}
.column1 {
  flex: 45%;
  padding: 7%;
  background-color: hsl(0, 0%, 98%);
}
.column2 {
  flex: 55%;
  padding: 7%;
}
#userpicture {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
.header {
  display: inline-block;
  vertical-align: middle;
  margin-left: 3%;
}
.ChartHeader {
  margin-top: 20%;
  margin-bottom: 5%;
}
canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
button {
  font-size: 0.7rem;
}
.buttoncontainer {
  text-align: center;
  margin-top: -5%;
}
#map {
  position: relative;
  width: 100%;
  height: 40%;
  background-color: #ccc;
  /* margin: 5% 5% 5% 5%; */
}
