*{
    margin: 0;
}
.main{
    text-align: center;
}

h1{
    background: red;
    padding-top:30px;
    padding-bottom: 30px;
    margin: 30px;
    border: solid;
    border-width: 5px;
}
p{
    background: blue;
    padding: 30px 60px;
    color: white;
}